body {
  width: 40em;
}
.error {
  background-color: #EFABAB;
  text-align: center;
  padding: 0.5em;
}
.success {
  background-color: #ABEFAE;
  text-align: center;
  padding: 0.5em;
}
#setup-instructions {
  display: none;
}
